@import "./global.module.scss";

.allPosts_dataGrid_container{
    padding: 10px;
    border-radius: 10px;
    box-shadow: $boxShadow;
}

.allPosts_dataGrid_container{
    background: $colorWhite;
    padding: 10px;
    border-radius: 10px;
    box-shadow: $boxShadow;
}

.allPosts_dataGrid_title{
    color: $color3;
    padding: 10px;
    margin-bottom: 10px;
}