@import "./global.module.scss";

.settings{
    background: white;
    padding: 20px;
    box-shadow: $boxShadow;
    margin-top: 50px;
}

.uploadsBox{
    position: relative;
}

.uploadPhoto{
    display: flex;
}
.uploadPhoto img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.header {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.header h1{
    margin-right: 10px;
}

.formSubmit{
    margin-top: 20px;
}